# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# Logs and databases
*.log
db.sqlite3

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Linux-specific files
*~
.nfs*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.bak
*.tmp

# Secrets and environment files
.env*
*.pem